@model ProductWebApp.Models.Product
@{
    ViewData["Title"] = "Edit Product";
}
<h2>Edit Product</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" name="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" name="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Price($)</label>
        <input asp-for="Price" class="form-control" name="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" name="Description" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>